In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("SearchTrendData.csv")

In [3]:
df.head(3)

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4

In [4]:
df["Year"] = df["Week"].str.strip().str[-4:]
df["Month"] = df["Week"].str.strip().str[-7: -5]
df["Day"] = df["Week"].str.strip().str[: -8]
df.head(3)

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning,Year,Month,Day
0,20/09/2015,32,9,11,11,4,2015,09,20
1,27/09/2015,35,10,11,11,4,2015,09,27
2,4/10/2015,38,10,12,11,4,2015,10,4

In [5]:
df.groupby("Year").DataScience.mean()

Year
2015     8.800000
2016    11.000000
2017    17.094340
2018    22.942308
2019    30.653846
2020    34.486486
Name: DataScience, dtype: float64

In [6]:
df.groupby("Year").MachineLearning.mean()

Year
2015    12.200000
2016    15.865385
2017    28.660377
2018    36.500000
2019    40.730769
2020    40.351351
Name: MachineLearning, dtype: float64

In [7]:
df.groupby("Year").ArtificialIntelligence.mean()

Year
2015    10.733333
2016    11.826923
2017    18.094340
2018    22.000000
2019    22.865385
2020    21.783784
Name: ArtificialIntelligence, dtype: float64

In [8]:
df.groupby("Year").DeepLearning.mean()

Year
2015     4.066667
2016     6.692308
2017    12.150943
2018    14.173077
2019    14.538462
2020    14.297297
Name: DeepLearning, dtype: float64

In [9]:
df.groupby("Month").DeepLearning.mean()

Month
01    11.454545
02    12.100000
03    12.272727
04    12.363636
05    12.181818
06    12.333333
07    11.826087
08    11.952381
09    12.000000
10    10.954545
11    11.000000
12    11.000000
Name: DeepLearning, dtype: float64

In [10]:
df.groupby("Year").DeepLearning.max()

Year
2015     5
2016    10
2017    15
2018    16
2019    16
2020    16
Name: DeepLearning, dtype: int64

In [11]:
df.groupby("Year").DataScience.max()

Year
2015    10
2016    14
2017    21
2018    27
2019    37
2020    39
Name: DataScience, dtype: int64

In [12]:
column = ["eLearning", "DataScience", "MachineLearning", "ArtificialIntelligence", "DeepLearning"]

df.groupby("Year").apply(lambda df: df[column].mean())

,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
Year,,,,,
2015,32.533333,8.800000,12.200000,10.733333,4.066667
2016,26.500000,11.000000,15.865385,11.826923,6.692308
2017,26.075472,17.094340,28.660377,18.094340,12.150943
2018,30.269231,22.942308,36.500000,22.000000,14.173077
2019,35.519231,30.653846,40.730769,22.865385,14.538462
2020,61.594595,34.486486,40.351351,21.783784,14.297297

In [13]:
df.groupby(["Year", "Month"]).DataScience.mean()

Year  Month
2015  09        9.50
      10        9.50
      11        8.60
      12        8.00
2016  01       10.40
               ...
2020  05       32.40
      06       33.75
      07       35.25
      08       36.20
      09       38.50
Name: DataScience, Length: 61, dtype: float64

In [14]:
df.groupby("Year").DataScience.aggregate([np.mean, max, min, len, np.std])

C:\Users\Hediye\AppData\Local\Temp\ipykernel_13200\2498795344.py:1: FutureWarning: The provided callable <function mean at 0x00000282E6C42F20> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby("Year").DataScience.aggregate([np.mean, max, min, len, np.std])
C:\Users\Hediye\AppData\Local\Temp\ipykernel_13200\2498795344.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("Year").DataScience.aggregate([np.mean, max, min, len, np.std])
C:\Users\Hediye\AppData\Local\Temp\ipykernel_13200\2498795344.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby("Year").DataScience.aggregate([np.mean, max, min, len, np.std])
C:\Users\Hediye\AppData\Local\Temp\ipykernel_13200\2498795344.py:1: FutureWarning: The provided callable <function std at 0x00000282E6C43060> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df.groupby("Year").DataScience.aggregate([np.mean, max, min, len, np.std])

           mean  max  min  len       std
Year
2015   8.800000   10    7   15  0.941124
2016  11.000000   14    9   52  1.546660
2017  17.094340   21   13   53  1.983239
2018  22.942308   27   19   52  1.974479
2019  30.653846   37   26   52  2.771597
2020  34.486486   39   28   37  2.652270